*.orig
*.rej
*.swp
Makefile.in
aclocal.m4
autoconf
autoheader
autom4te.cache
automake
autoscan.log
compile
configure
configure.scan
config.guess
config.log
config.sub
config.status
Makefile
depcomp
install-sh
libtoolize
ltmain.sh
libtool
make/stamp-h1

# ignore "libtoolized" m4 files, but keep our (enumerated) ones
/m4/*
!/m4/ac_python_module.m4

# make/release.mk related litter
/.tarball-version
/tag-*

make/clusterautoconfig.h*
missing
*.pc
.deps
.libs
*.o
*.la
*.lo
lib/*.py*
!lib/*.py.py
!lib/check_used_options.py
agents/*/fence_*
agents/*/.dirstamp
!agents/*/fence_*.py
!agents/*/fence_*.c
!agents/*/fence_*.h
!agents/kdump/fence_kdump_send.8
!agents/manual/fence_ack_manual.8
!agents/zvm/fence_zvm_man_page
.fence*.tmp
fence-agents*
.version
tests/devices.d/*
