autom4te.cache
config.log
configure
include/config.h*
Makefile
y.tab.*
*.o
*.lo
*.la
.deps
.libs
Makefile.in
*.swp
aclocal.m4
client/fence_virt
client/fence_xvm
common/libfence_virt.a
compile
config.guess
config.status
config.sub
config/config.c
config/libsimpleconfig.a
depcomp
fence_virtd.init
fence_virtd.service
include/stamp-h1
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
server/fence_virtd
fence-virt-*
