language: python
sudo: required
dist: trusty

python:
  - "2.7"

addons:
  apt:
    packages:
    - python-pexpect
    - xsltproc
    - time
    - libpam0g-dev
    - libxml2-utils
    - libcimcclient0-dev
    - swig
    - iputils-ping

before_install:
  - pip install suds
  - pip install pycurl
  - pip install requests
  - pip install pexpect
  - pip install boto3
  - pip install google-api-python-client
  - pip install python-novaclient
  - pip install python-keystoneclient

before_script:
  - wget https://github.com/Openwsman/openwsman/archive/v2.6.3.tar.gz
  - tar zxvf v2.6.3.tar.gz
  - cd openwsman-2.6.3
  - perl -p -i -e "s/(\\$\{CURL_LIBRARIES\})/\1 ssl crypto/g" src/lib/CMakeLists.txt
  - mkdir build && cd build
  - cmake .. -DPYTHON_EXECUTABLE:FILEPATH=~/virtualenv/python2.7/bin/python -DLIB=/lib/x86_64-linux-gnu -DCMAKE_LIBRARY_ARCHITECTURE=x86_64-linux-gnu -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_VERBOSE_MAKEFILE=TRUE
  - make
  - sudo make install
  - cd ../..

script:
  - ./autogen.sh
  - ./configure
  - make -j4
  - make -j4 check
  - PYTHONPATH=lib python lib/tests/test_fencing.py
